# --- General ---
APP_NAME={{ project_name }}
LOG_LEVEL=INFO
DEBUG=false
{%- if with_fastapi_api %}

# --- FastAPI ---
API_HOST=0.0.0.0
API_PORT=8000
{%- endif %}
{%- if with_sentry %}

# --- Sentry ---
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.1
{%- endif %}
