# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.11.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=50000']
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest]
      - id: trailing-whitespace
  - repo: local
    hooks:
      {%- if cookiecutter.with_conventional_commits|int %}
      - id: commitizen
        name: commitizen
        entry: cz check
        args: [--commit-msg-file]
        require_serial: true
        language: system
        stages: [commit-msg]
      {%- endif %}
      # Development mode: {{ cookiecutter.development_environment }}
{%- if cookiecutter.development_environment == "strict" %}
      - id: ruff-check
        name: ruff check
        entry: ruff check
        args: ["--force-exclude", "--extend-fixable=ERA001,F401,F841,T201,T203"]
        require_serial: true
        language: system
        types_or: [python, pyi]
        pass_filenames: false
{%- else %}
      - id: ruff-check
        name: ruff check
        entry: ruff check
        args: ["--force-exclude", "--extend-fixable=F401,F841", "--fix-only"]
        require_serial: true
        language: system
        types_or: [python, pyi]
        pass_filenames: false
{%- endif %}
      - id: ruff-format
        name: ruff format
        entry: ruff format
        args: [--force-exclude]
        require_serial: true
        language: system
        types_or: [python, pyi]
        pass_filenames: false
      {%- if cookiecutter.development_environment == "strict" %}
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        args: [--check-sourced]
        language: system
        types: [shell]
        pass_filenames: false
      {%- endif %}
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        pass_filenames: false

