# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: local
    hooks:
      - id: commitizen
        name: commitizen
        entry: cz check
        args: [--commit-msg-file]
        require_serial: true
        language: system
        stages: [commit-msg]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        args: ["--force-exclude", "--extend-fixable=ERA001,F401,F841,T201,T203"]
        require_serial: true
        language: system
        types_or: [python, pyi]
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: ruff format
        args: [--force-exclude]
        require_serial: true
        language: system
        types_or: [python, pyi]
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        args: [--check-sourced]
        language: system
        types: [shell]
        pass_filenames: false
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        pass_filenames: false
