# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint
        files: ^\.github/workflows/
  - repo: local
    hooks:
      - id: commitizen
        name: commitizen
        entry: cz check
        args: [--commit-msg-file]
        require_serial: true
        language: system
        stages: [commit-msg]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        args: ["--force-exclude"]
        language: system
        types_or: [python, pyi]
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: ruff format
        args: [--force-exclude, --check]
        language: system
        types_or: [python, pyi]
        pass_filenames: false
