name: PR

on:
  pull_request:
    types: [edited, opened, reopened, synchronize]

jobs:
  title:
    runs-on: ubuntu-latest
    name: Check PR title
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Check PR title
        run: |
          pip install commitizen
          cz check --message "${{ github.event.pull_request.title }}"
